:root {
--defaultColor: rgba(255, 255, 255, 1);
--taskAreaBackgroundColor: rgba(0, 0, 0, 0.8);
--taskAreaBorder: solid rgba(255, 255, 255, 1);
--taskAreaBorderWidth: 0 0 2px 0;
--windowStackAreaBackgroundColor: rgba(50, 50, 50, 1);
--windowStackAreaBorder: solid rgba(255, 255, 255, 1);
--windowStackAreaBorderWidth: 0 2px 2px 2px;
--windowStackAreaBackgroundColor_hover: rgba(100, 100, 100, 1);
--windowStackAreaColor_hoverChild: rgba(0, 0, 0, 1);
--workspaceAreaBackgroundImage: url('../ImageRes/WorkspaceArea_BackgroundImage_Graphite.png');
--workspaceAreaIconColor: rgba(0, 0, 0, 1);
--workspaceIconBackgroundColor: ;
--workspaceIconBorder: ;
--workspaceIconBorderWidth: 2px;
--workspaceIconBackgroundColor_hover: ;
--statusAreaBackgroundColor: rgba(0, 0, 0, 0.8);
--statusAreaBorder: solid rgba(255, 255, 255, 1);
--statusAreaBorderWidth: 2px 0 0 0;
--startButtonBackgroundColor: rgba(50, 50, 50, 1);
--startButtonBorder: solid rgba(255, 255, 255, 1);
--startButtonBorderWidth: 2px;
--startButtonBackgroundColor_hover: rgba(100, 100, 100, 1);
--quickAccessBarBackgroundColor: rgba(50, 50, 50, 1);
--quickAccessBarBorder: solid rgba(255, 255, 255, 1);
--quickAccessBarBorderWidth: 2px 2px 0 2px;
--quickAccessBarBackgroundColor_hover: rgba(100, 100, 100, 1);
--synchronizableInputPrimaryColor: rgba(255, 255, 255, 1);
--synchronizableInputPrimaryBackgroundColor: ;
--synchronizableInputPrimaryBorder: ;
--synchronizableInputPrimaryBorderWidth: ;
--quickAccessBarColor_hoverChild: rgba(0, 0, 0, 1);
--quickAccessBarTextShadow_hoverChild: 0 0 10px rgba(0, 0, 0, 1);
--windowBackgroundColor: rgba(50, 50, 50, 0.5);
--windowBackgroundColor_active: rgba(50, 50, 50, 0.9);
--windowBorder: ;
--windowBorderWidth: ;
--windowBoxShadowColor: rgba(0, 0, 0, 1);
--windowBoxShadowColor_active: rgba(0, 0, 0, 1);
--iFrameBackgroundColor: ;
--iFrameBorder: none;
--iFrameBorderWidth: ;
--outputColor: yellowgreen;
--buttonBackgroundColor: ;
--buttonBackgroundColor_hover: rgba(40, 40, 40, 1);
--buttonBorder: solid rgba(255, 255, 255, 1);
--buttonBorderWidth: thin;
}