:root {
    /* Default Variables */
    --defaultColor: rgba(255, 255, 255, 1);

    /* Header Area */
    --headerAreaBackgroundColor: rgba(0, 0, 0, 0.8);
    --headerAreaBorder: solid rgba(255, 255, 255, 1);
    --headerAreaBorderWidth: 2px 2px 0 2px;

    /* Panel Area */
    --panelAreaBackgroundColor: ;
    --panelAreaBorder: solid rgba(255, 255, 255, 1);
    --panelAreaBorderWidth: 0 2px 0 2px;

    /* Controls Area */
    --controlsAreaBackgroundColor: rgba(0, 0, 0, 0.8);
    --controlsAreaBorder: solid rgba(255, 255, 255, 1);
    --controlsAreaBorderWidth: 0 2px 2px 2px;

    /* Outputs */
    --outputColor: yellowgreen;

    /* Buttons */
    --buttonBackgroundColor: ;
    --buttonBackgroundColor_hover: rgba(40, 40, 40, 1);
    --buttonBorder: solid rgba(255, 255, 255, 1);
    --buttonBorderWidth: thin;

    /* Link Buttons */
    --linkButtonColor_hover: rgba(40, 40, 40, 1);

    /* Text Inputs */
    --textInputBackgroundColor: ;
    --textInputBorder: solid rgba(255, 255, 255, 1);
    --textInputBorderWidth: 0 0 thin 0;
}