
        * {
            /* border: thin solid red !important; */
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            font-family: 'Segoe UI Light';
            font-size: 14px;
            color: var(--defaultColor);
            cursor: default;
            -ms-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        .body {
            display: grid;
            grid-template-columns: repeat(20, 5%);
            grid-template-rows: 100%;

            grid-template-areas:
                "sidebar pane pane pane pane pane panel panel panel panel panel panel panel panel info info info info info controls"
            ;

            height: 100%;
            width: 100%;
        }

        .sidebarArea {
            grid-area: sidebar;

            background-color: var(--sidebarAreaBackgroundColor);
        }

        .sidebarAreaDivision {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: 20%;
            width: 100%;

            background-color: var(--sidebarDivisionBackgroundColor);

            writing-mode: vertical-rl;

            transition: background-color 0.5s;
        }

        .sidebarAreaDivision-active {
            background-color: var(--sidebarDivisionBackgroundColor_active);
        }

        .sidebarAreaDivision:hover {
            background-color: var(--sidebarDivisionBackgroundColor_hover);
        }

        .paneArea {
            grid-area: pane;

            background-color: var(--paneAreaBackgroundColor);
        }

        .paneAreaDivision {
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;

            height: 100%;
            width: 100%;

            text-align: right;

            background-color: var(--paneDivisionBackgroundColor);
        }

        .paneAreaDivision:hover {
            overflow: auto;
        }

        .paneAreaDivisionSector {
            height: 20%;
            width: 100%;
            padding: 10px;
        }

        .paneAreaDivisionSector:hover > h1, .paneAreaDivisionSector:hover > p {
            color: var(--paneSectorColor_hoverChild) !important;
        }

        .paneAreaDivisionSector-active > h1, .paneAreaDivisionSector-active > p {
            padding-right: 10px;

            color: var(--paneSectorColor-activeChild);

            border: var(--paneSectorBorder-activeChild);
            border-width: var(--paneSectorBorderWidth-activeChild);
        }

        .panelArea {
            grid-area: panel;

            background-color: var(--panelAreaBackgroundColor);
        }

        .panelAreaDivision {
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: auto;

            height: 100%;
            width: 100%;

            background-color: var(--panelDivisionBackgroundColor);
        }

        .panelAreaDivisionSector {
            height: 20%;
            width: calc(100% / 3);
            padding: 10px;
        }

        .panelAreaDivisionSector:hover > h1, .panelAreaDivisionSector:hover > p, .panelAreaDivisionSector:hover > input {
            padding-left: 10px;

            color: var(--panelSectorColor_hoverChild);

            border: var(--panelSectorBorder_hoverChild);
            border-width: var(--panelSectorBorderWidth_hoverChild);
        }
        
        .panelAreaDivisionSector-active > h1, .panelAreaDivisionSector-active > p, .panelAreaDivisionSector-active > input {
            padding-left: 10px;

            color: var(--panelSectorColor_activeChild) !important;

            border: var(--panelSectorBorder_activeChild);
            border-width: var(--panelSectorBorderWidth_activeChild);
        }

        .panelAreaDivisionSector-thumbnail {
            height: 50%;
        }

        .thumbnail {
            margin: 0 0 10px 0;
            height: 60%;
            width: 100%;

            font-size: 100px;

            background-size: contain;
            background-repeat: no-repeat;
        }

        .thumbnail-preview {
            background-size: cover;
        }

        .infoArea {
            grid-area: info;

            background-color: var(--infoAreaBackgroundColor);
        }

        .infoAreaDivision {
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: auto;

            height: 100%;
            width: 100%;

            background-color: var(--infoDivisionBackgroundColor);
        }

        .infoAreaDivision:hover {
            overflow: auto;
        }

        .infoAreaDivisionSector {
            height: 20%;
            width: 100%;
            padding: 10px;
        }

        .controlsArea {
            grid-area: controls;

            background-color: var(--controlsAreaBackgroundColor);
        }

        .controlsAreaDivision {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 20%;
            width: 100%;

            background-color: var(--controlsDivisionBackgroundColor);

            writing-mode: vertical-rl;

            transition: background-color 0.5s;
        }

        .controlsAreaDivision:hover {
            background-color: var(--controlsDivisionBackgroundColor_hover);
        }

        .label {
            font-family: "Calibri";
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
        }

        .title {
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .definition {
            text-overflow: ellipsis;
        }

        .output {
            text-overflow: ellipsis;
            color: var(--outputColor);
        }

        .information {
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .infoDisplayLarge {
            font-size: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .infoDisplayMedium {
            font-size: 25px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .button {
            margin: 5px 0 0 5px;
            height: 30%;
            width: auto;
            padding: 0 5px 0 5px;

            background-color: var(--buttonBackgroundColor);
            border: var(--buttonBorder);
            border-width: var(--buttonBorderWidth);
        }

        .button:hover {
            background-color: var(--buttonBackgroundColor_hover);
        }

        .linkButton {
            margin: 0 5px 0 5px;

            text-decoration: underline;
        }

        .linkButton:hover {
            color: var(--linkButtonColor_hover);
        }

        .textInput {
            height: 30%;
            width: 100%;

            text-align: right;

            background-color: var(--textInputBackgroundColor);
            border: var(--textInputBorder);
            border-width: var(--textInputBorderWidth);

            cursor: text;

            -ms-user-select: text;
            -webkit-user-select: text;
            -moz-user-select: text;
        }